@media screen and (max-width: 900px) {
    .sumal {
      float: right;
    }
    .contain{
     float: left;
    }
    .lst ul li {
        list-style-type:none;
        display: inline-block;
        text-align: center;
        padding: 0px;
        border:2px solid black;
        position: relative;
        top: 5px;
        margin-right: 10px;
        }
        .second ul li {
            display: inline-block;
            text-align: center;
            padding: 0px;
            border:2px solid black;
            position: relative;
            top: 10px;
            margin-right: 10px;
            }
            .third ul li {
                display: inline-block;
                text-align: center;
                padding: 0px;
                border:2px solid black;
                position: relative;
                top: 30px;
                margin-right: 10px;
                }
                .sums ul li {
                    display: block;
                    position: relative;
                    right: 10px;
                    border:2px solid black;
                    text-align: center;
                    padding: 0px;
                    
                    }
                    .equal ul li{
                        display: inline-block;
                        position: relative;
                        top: 5px;
                        border:2px solid black;
                        text-align: center;
                        padding: 0px;
                    
                        margin-top: 10px;
                        } 
 input[type="button"]{
    background-color: gray;
    font-size: 23px;
    border: 1px solid gray;
    padding: 20px;
  }
  input[type="button"]:hover{background-color: #3e8e41}
  
  input[type="button"]:active{
    background-color: #3e8e41;
    box-shadow: 0 5px red;
  }
  #result{
    font-size:50px;
    position: fixed;
    left: 25px;
    top: 60px;
    width: 400px;
  }
  }
  